.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


.Primary {
    background-color: blue;
    color:white
}
.Secondary {
    background-color: beige;
    color: black
}
.Success {
    background-color: green;
}
.Danger {
    background-color: red;
}